
div.node-badges {
  float: right;
  padding: 10px;
}

div.node-badge {
  display: block;
  padding: 10px;
  padding-bottom: 8px;
  margin: 10px;
}

span.badge-caption {
  padding-left: 5px;
  font-size: smaller;
}